@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@600&family=Lobster&family=Merriweather:ital,wght@1,300&display=swap');
.cursive {
  font-family: 'Dancing Script', cursive;
}

.nav-links {
  font-family: 'Abril Fatface', cursive;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


.home-name {
  font-size: 150px;
}

.icons-anim {
  color: white;
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px var(--main-maroon);
  transition: transform 0.3s ease-out;
}