@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@600&family=Lobster&family=Merriweather:ital,wght@1,300&display=swap');
.cursive {
  font-family: 'Dancing Script', cursive;
}

.nav-links {
  font-family: 'Abril Fatface', cursive;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


.home-name {
  font-size: 150px;
}


.nav-background {
  background: #70A08B;
}

.about-background {
  background: #798da7
}

.bg-for-all {
  background: #798da7;
}

.bg-for-project {
  background: #a07085;
}

.nav-links:hover {
    color: #8B70A0;
}